In [1]:
import pandas as pd

In [2]:
import numpy as np

In [61]:
csv_all = pd.read_csv('./ALLAptDay202006.csv', engine='python')

In [62]:
csv_all

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,cityCode,citySidoName,citySggName,aptCode,aptName,disQuantity,dayAverQuantity,disCount,dayAverCount
0,0,2020,6,4,4,W01,서울특별시,종로구,W01000,종로구청,2500,625,25,6
1,0,2020,6,1,4,W01,서울특별시,종로구,W01001,대아파크빌(BM),95450,23862,67,16
2,1,2020,6,2,5,W01,서울특별시,종로구,W01001,대아파크빌(BM),114950,22990,88,17
3,2,2020,6,3,5,W01,서울특별시,종로구,W01001,대아파크빌(BM),101350,20270,87,17
4,3,2020,6,4,4,W01,서울특별시,종로구,W01001,대아파크빌(BM),74650,18662,56,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67934,2,2020,6,3,5,W15,부산광역시,기장군,W15057,한신그린코아아파트,2413780,482756,1474,294
67935,3,2020,6,4,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,1858200,464550,1156,289
67936,4,2020,6,5,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,1651640,412910,1007,251
67937,5,2020,6,6,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,2148500,537125,1351,337
67938,6,2020,6,7,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,1748160,437040,1010,252

In [103]:
csv_all.groupby('aptCode').count()

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,cityCode,citySidoName,citySggName,aptName,disQuantity,dayAverQuantity,disCount,dayAverCount
aptCode,,,,,,,,,,,,,
W01000,7,7,7,7,7,7,7,7,7,7,7,7,7
W01001,7,7,7,7,7,7,7,7,7,7,7,7,7
W01002,7,7,7,7,7,7,7,7,7,7,7,7,7
W01003,7,7,7,7,7,7,7,7,7,7,7,7,7
W01004,7,7,7,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
W6Z174,7,7,7,7,7,7,7,7,7,7,7,7,7
W6Z175,7,7,7,7,7,7,7,7,7,7,7,7,7
W6Z176,7,7,7,7,7,7,7,7,7,7,7,7,7
W6Z177,7,7,7,7,7,7,7,7,7,7,7,7,7
W6Z178,7,7,7,7,7,7,7,7,7,7,7,7,7

In [32]:
index0_list = csv_all[csv_all['Unnamed: 0']==0].index.to_list()

In [39]:
len(index0_list)

10023

In [36]:
index0_list

[0,
 1,
 8,
 15,
 22,
 29,
 36,
 43,
 50,
 57,
 64,
 71,
 78,
 85,
 92,
 99,
 106,
 113,
 120,
 127,
 134,
 141,
 148,
 155,
 162,
 169,
 176,
 183,
 190,
 197,
 204,
 211,
 218,
 225,
 232,
 239,
 246,
 253,
 260,
 267,
 274,
 281,
 288,
 295,
 296,
 303,
 310,
 317,
 324,
 331,
 338,
 345,
 352,
 359,
 366,
 373,
 380,
 387,
 394,
 401,
 408,
 415,
 422,
 429,
 436,
 443,
 450,
 457,
 464,
 471,
 478,
 485,
 492,
 499,
 506,
 513,
 520,
 527,
 534,
 541,
 548,
 555,
 562,
 569,
 576,
 583,
 590,
 597,
 604,
 611,
 618,
 625,
 632,
 639,
 646,
 653,
 660,
 667,
 674,
 681,
 688,
 695,
 702,
 709,
 716,
 723,
 730,
 737,
 744,
 745,
 752,
 759,
 766,
 773,
 780,
 787,
 794,
 801,
 808,
 815,
 822,
 829,
 836,
 843,
 850,
 857,
 864,
 871,
 878,
 885,
 892,
 899,
 906,
 913,
 920,
 927,
 934,
 941,
 948,
 955,
 962,
 969,
 976,
 983,
 990,
 997,
 1004,
 1011,
 1018,
 1025,
 1032,
 1039,
 1046,
 1053,
 1060,
 1067,
 1074,
 1081,
 1088,
 1095,
 1102,
 1109,
 1116,
 1123,
 1130,
 1137,
 1144,
 1151,
 1158,
 1165,
 1172,
 1179,
 1186,
 1193,
 1200,
 1206,
 1213,
 1220,
 1227,
 1234,
 1241,
 1248,
 1251,
 1258,
 1265,
 1272,
 1279,
 1286,
 1293,
 1300,
 1307,
 1314,
 1321,
 1328,
 1335,
 1342,
 1349,
 1356,
 1363,
 1370,
 1377,
 1384,
 1391,
 1398,
 1405,
 1412,
 1419,
 1426,
 1433,
 1440,
 1447,
 1454,
 1461,
 1468,
 1475,
 1482,
 1489,
 1496,
 1503,
 1510,
 1517,
 1524,
 1531,
 1538,
 1545,
 1552,
 1559,
 1566,
 1573,
 1580,
 1587,
 1594,
 1601,
 1608,
 1615,
 1622,
 1629,
 1636,
 1643,
 1650,
 1657,
 1663,
 1670,
 1677,
 1684,
 1691,
 1698,
 1705,
 1712,
 1719,
 1726,
 1733,
 1740,
 1747,
 1754,
 1761,
 1768,
 1775,
 1782,
 1789,
 1796,
 1803,
 1810,
 1817,
 1824,
 1831,
 1838,
 1845,
 1852,
 1859,
 1866,
 1873,
 1880,
 1887,
 1894,
 1901,
 1908,
 1915,
 1922,
 1929,
 1936,
 1943,
 1950,
 1957,
 1964,
 1971,
 1978,
 1985,
 1992,
 1999,
 2006,
 2013,
 2020,
 2027,
 2034,
 2041,
 2048,
 2055,
 2062,
 2069,
 2076,
 2083,
 2090,
 2097,
 2104,
 2111,
 2118,
 2125,
 2132,
 2139,
 2146,
 2153,
 2160,
 2167,
 2174,
 2181,
 2188,
 2195,
 2202,
 2209,
 2216,
 2223,
 2230,
 2237,
 2243,
 2250,
 2256,
 2263,
 2270,
 2277,
 2281,
 2288,
 2292,
 2299,
 2300,
 2307,
 2314,
 2321,
 2328,
 2335,
 2342,
 2349,
 2356,
 2363,
 2370,
 2377,
 2384,
 2391,
 2398,
 2405,
 2412,
 2419,
 2426,
 2433,
 2440,
 2447,
 2454,
 2461,
 2468,
 2475,
 2482,
 2489,
 2496,
 2503,
 2510,
 2517,
 2524,
 2531,
 2538,
 2545,
 2552,
 2559,
 2566,
 2573,
 2580,
 2587,
 2594,
 2601,
 2608,
 2615,
 2622,
 2629,
 2636,
 2643,
 2650,
 2657,
 2664,
 2671,
 2678,
 2685,
 2692,
 2699,
 2706,
 2713,
 2720,
 2724,
 2731,
 2738,
 2745,
 2752,
 2759,
 2766,
 2773,
 2780,
 2787,
 2794,
 2801,
 2808,
 2815,
 2822,
 2829,
 2836,
 2843,
 2850,
 2857,
 2864,
 2871,
 2878,
 2885,
 2892,
 2899,
 2906,
 2913,
 2920,
 2927,
 2934,
 2941,
 2948,
 2955,
 2962,
 2969,
 2976,
 2983,
 2990,
 2997,
 3004,
 3011,
 3018,
 3025,
 3032,
 3039,
 3046,
 3053,
 3060,
 3067,
 3074,
 3081,
 3088,
 3095,
 3102,
 3109,
 3116,
 3123,
 3130,
 3137,
 3144,
 3151,
 3158,
 3165,
 3172,
 3179,
 3186,
 3193,
 3200,
 3207,
 3214,
 3221,
 3228,
 3235,
 3242,
 3249,
 3256,
 3263,
 3270,
 3277,
 3284,
 3291,
 3298,
 3305,
 3312,
 3319,
 3326,
 3333,
 3340,
 3347,
 3354,
 3361,
 3368,
 3375,
 3382,
 3389,
 3396,
 3403,
 3410,
 3417,
 3424,
 3431,
 3438,
 3445,
 3452,
 3459,
 3466,
 3473,
 3480,
 3487,
 3494,
 3501,
 3508,
 3515,
 3522,
 3529,
 3536,
 3543,
 3550,
 3557,
 3564,
 3571,
 3578,
 3585,
 3592,
 3599,
 3606,
 3613,
 3620,
 3627,
 3634,
 3641,
 3648,
 3655,
 3662,
 3669,
 3676,
 3683,
 3690,
 3697,
 3704,
 3711,
 3718,
 3725,
 3732,
 3739,
 3746,
 3753,
 3760,
 3767,
 3774,
 3781,
 3788,
 3795,
 3802,
 3809,
 3816,
 3823,
 3830,
 3837,
 3844,
 3851,
 3858,
 3865,
 3872,
 3878,
 3885,
 3892,
 3899,
 3906,
 3913,
 3920,
 3926,
 3933,
 3940,
 3947,
 3954,
 3961,
 3968,
 3975,
 3982,
 3989,
 3996,
 4003,
 4010,
 4017,
 4024,
 4031,
 4038,
 4045,
 4052,
 4059,
 4066,
 4073,
 4080,
 4087,
 4094,
 4101,
 4108,
 4115,
 4122,
 4129,
 4136,
 4143,
 4150,
 4157,
 4164,
 4171,
 4178,
 4185,
 4192,
 4199,
 4206,
 4213,
 4220,
 4227,
 4234,
 4241,
 4248,
 4255,
 4262,
 4269,
 4276,
 4283,
 4290,
 4297,
 4304,
 4311,
 4318,
 4325,
 4332,
 4339,
 4346,
 4353,
 4360,
 4367,
 4374,
 4381,
 4388,
 4395,
 4402,
 4409,
 4416,
 4423,
 4430,
 4437,
 4440,
 4441,
 4444,
 4447,
 4454,
 4461,
 4468,
 4475,
 4478,
 4481,
 4484,
 4491,
 4494,
 4497,
 4500,
 4507,
 4510,
 4517,
 4524,
 4531,
 4534,
 4541,
 4542,
 4544,
 4545,
 4546,
 4549,
 4556,
 4559,
 4564,
 4567,
 4570,
 4576,
 4580,
 4587,
 4590,
 4597,
 4600,
 4603,
 4609,
 4612,
 4615,
 4619,
 4626,
 4629,
 4636,
 4643,
 4650,
 4657,
 4663,
 4670,
 4677,
 4684,
 4689,
 4692,
 4693,
 4696,
 4698,
 4700,
 4701,
 4703,
 4708,
 4710,
 4712,
 4713,
 4716,
 4721,
 4725,
 4728,
 4731,
 4735,
 4738,
 4741,
 4744,
 4748,
 4750,
 4754,
 4758,
 4761,
 4765,
 4769,
 4770,
 4774,
 4777,
 4778,
 4781,
 4787,
 4794,
 4801,
 4808,
 4815,
 4822,
 4829,
 4836,
 4843,
 4850,
 4857,
 4864,
 4871,
 4878,
 4885,
 4892,
 4899,
 4906,
 4913,
 4920,
 4927,
 4934,
 4941,
 4948,
 4955,
 4962,
 4969,
 4976,
 4983,
 4990,
 4997,
 5004,
 5011,
 5018,
 5025,
 5032,
 5039,
 5046,
 5053,
 5060,
 5067,
 5074,
 5081,
 5088,
 5095,
 5102,
 5109,
 5116,
 5123,
 5130,
 5137,
 5144,
 5151,
 5158,
 5165,
 5172,
 5179,
 5186,
 5193,
 5200,
 5207,
 5214,
 5221,
 5228,
 5235,
 5242,
 5249,
 5255,
 5262,
 5269,
 5276,
 5283,
 5290,
 5297,
 5304,
 5311,
 5318,
 5325,
 5332,
 5339,
 5346,
 5353,
 5360,
 5367,
 5374,
 5381,
 5388,
 5395,
 5402,
 5409,
 5416,
 5423,
 5430,
 5437,
 5444,
 5451,
 5458,
 5465,
 5472,
 5479,
 5486,
 5493,
 5500,
 5507,
 5514,
 5521,
 5528,
 5535,
 5542,
 5549,
 5556,
 5563,
 5570,
 5577,
 5584,
 5591,
 5598,
 5605,
 5612,
 5619,
 5626,
 5633,
 5640,
 5647,
 5654,
 5661,
 5668,
 5675,
 5682,
 5689,
 5696,
 5703,
 5710,
 5717,
 5724,
 5731,
 5738,
 5745,
 5752,
 5759,
 5766,
 5773,
 5780,
 5787,
 5794,
 5801,
 5808,
 5815,
 5822,
 5829,
 5836,
 5843,
 5850,
 5857,
 5864,
 5871,
 5878,
 5881,
 5885,
 5892,
 5899,
 5906,
 5913,
 5920,
 5927,
 5934,
 5941,
 5948,
 5955,
 5962,
 5969,
 5976,
 5983,
 5990,
 5997,
 6004,
 6011,
 6018,
 6025,
 6032,
 6039,
 6046,
 6053,
 6060,
 6067,
 6074,
 6081,
 6088,
 6095,
 6102,
 6109,
 6116,
 6123,
 6130,
 6137,
 6144,
 6151,
 6158,
 6165,
 6172,
 6179,
 6186,
 6193,
 6200,
 6207,
 6214,
 6221,
 6228,
 6235,
 6242,
 6249,
 6256,
 6263,
 6270,
 6277,
 6284,
 6291,
 6298,
 6305,
 6312,
 6319,
 6326,
 6333,
 6340,
 6347,
 6354,
 6361,
 6368,
 6375,
 6382,
 6389,
 6396,
 6403,
 6410,
 6417,
 6424,
 6431,
 6438,
 6445,
 6452,
 6459,
 6466,
 6473,
 6480,
 6487,
 6494,
 6501,
 6508,
 6515,
 6522,
 6529,
 6536,
 6543,
 6550,
 6557,
 6564,
 6571,
 6578,
 6585,
 6592,
 6599,
 6606,
 6613,
 6620,
 6627,
 6634,
 6641,
 6648,
 6655,
 6662,
 6669,
 6676,
 6683,
 ...]

In [60]:
len(csv_all[csv_all.aptCode==csv_all.aptCode[index0_list[0]]])

7

In [65]:
for i in index0_list:
    index0_count = len(csv_all[csv_all.aptCode==csv_all.aptCode[i]])
    
    if index0_count == 7:
        pass
    else:
        
        while index0_count < 7:
            csv_all.loc[len(csv_all)] = csv_all.loc[i]
            
            csv_all.iloc[-1, 0] = index0_count
            csv_all.iloc[-1, 3:5] = 0
            csv_all.iloc[-1, 10:14] = 0
            
            index0_count += 1
#             print(index0_count)
        
#     print(index0_count)
#     print(csv_all.iloc[i,:])

In [66]:
csv_all.tail(10)

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,cityCode,citySidoName,citySggName,aptCode,aptName,disQuantity,dayAverQuantity,disCount,dayAverCount
70151,2,2020,6,0,0,W14,부산광역시,사상구,W14000,부산사상구,0,0,0,0
70152,3,2020,6,0,0,W14,부산광역시,사상구,W14000,부산사상구,0,0,0,0
70153,4,2020,6,0,0,W14,부산광역시,사상구,W14000,부산사상구,0,0,0,0
70154,5,2020,6,0,0,W14,부산광역시,사상구,W14000,부산사상구,0,0,0,0
70155,6,2020,6,0,0,W14,부산광역시,사상구,W14000,부산사상구,0,0,0,0
70156,4,2020,6,0,0,W15,부산광역시,기장군,W15000,기장군청,0,0,0,0
70157,5,2020,6,0,0,W15,부산광역시,기장군,W15000,기장군청,0,0,0,0
70158,6,2020,6,0,0,W15,부산광역시,기장군,W15000,기장군청,0,0,0,0
70159,6,2020,6,0,0,W15,부산광역시,기장군,W15003,기장현대아파트,0,0,0,0
70160,6,2020,6,0,0,W15,부산광역시,기장군,W15006,이진테마빌아파트,0,0,0,0

In [100]:
aptCodesList = list(np.unique(csv_all.aptCode.to_list()))

In [102]:
len(aptCodesList)

10023

In [90]:
csv_all[csv_all.aptCode=='W15000'].iloc[:,10:].T

                 67573  67574  67575  67576  70156  70157  70158
disQuantity      13250   4200   3400   9750      0      0      0
dayAverQuantity   2650   1050    850   2437      0      0      0
disCount            60     41     34     20      0      0      0
dayAverCount        12     10      8      5      0      0      0

In [81]:
csv_all_sort = csv_all.sort_values('Unnamed: 0')

In [82]:
csv_all_sort = csv_all_sort.sort_values('aptCode')

In [83]:
csv_all_sort.head(10)

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,cityCode,citySidoName,citySggName,aptCode,aptName,disQuantity,dayAverQuantity,disCount,dayAverCount
0,0,2020,6,4,4,W01,서울특별시,종로구,W01000,종로구청,2500,625,25,6
67939,1,2020,6,0,0,W01,서울특별시,종로구,W01000,종로구청,0,0,0,0
67941,3,2020,6,0,0,W01,서울특별시,종로구,W01000,종로구청,0,0,0,0
67944,6,2020,6,0,0,W01,서울특별시,종로구,W01000,종로구청,0,0,0,0
67940,2,2020,6,0,0,W01,서울특별시,종로구,W01000,종로구청,0,0,0,0
67942,4,2020,6,0,0,W01,서울특별시,종로구,W01000,종로구청,0,0,0,0
67943,5,2020,6,0,0,W01,서울특별시,종로구,W01000,종로구청,0,0,0,0
6,5,2020,6,6,4,W01,서울특별시,종로구,W01001,대아파크빌(BM),77650,19412,59,14
1,0,2020,6,1,4,W01,서울특별시,종로구,W01001,대아파크빌(BM),95450,23862,67,16
3,2,2020,6,3,5,W01,서울특별시,종로구,W01001,대아파크빌(BM),101350,20270,87,17

In [104]:
csv_all.to_csv('./csv_202006_all.csv', sep=',', na_rep='NaN', encoding='cp949')

In [105]:
csv_all_sort.to_csv('./csv_202006_all_sort.csv', sep=',', na_rep='NaN', encoding='cp949')

In [73]:
csv_all.groupby('aptCode').count().mean()

Unnamed: 0         7.0
disYear            7.0
disMonth           7.0
disDay             7.0
disDayCount        7.0
cityCode           7.0
citySidoName       7.0
citySggName        7.0
aptName            7.0
disQuantity        7.0
dayAverQuantity    7.0
disCount           7.0
dayAverCount       7.0
dtype: float64

In [17]:
csv_all[csv_all.aptCode==csv_all.aptCode[0]]

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,cityCode,citySidoName,citySggName,aptCode,aptName,disQuantity,dayAverQuantity,disCount,dayAverCount
0,0,2020,6,4,4,W01,서울특별시,종로구,W01000,종로구청,2500,625,25,6

In [24]:
csv_all[csv_all.aptCode==csv_all.aptCode[0]].iloc[0,:]

Unnamed: 0              0
disYear              2020
disMonth                6
disDay                  4
disDayCount             4
cityCode              W01
citySidoName        서울특별시
citySggName           종로구
aptCode            W01000
aptName              종로구청
disQuantity          2500
dayAverQuantity       625
disCount               25
dayAverCount            6
Name: 0, dtype: object

In [18]:
len(csv_all[csv_all.aptCode==csv_all.aptCode[0]])

1

In [10]:
csv_all.loc[67939] = csv_all.loc[67938]

In [14]:
csv_all = csv_all.drop(67939)

In [15]:
csv_all.tail()

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,cityCode,citySidoName,citySggName,aptCode,aptName,disQuantity,dayAverQuantity,disCount,dayAverCount
67934,2,2020,6,3,5,W15,부산광역시,기장군,W15057,한신그린코아아파트,2413780,482756,1474,294
67935,3,2020,6,4,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,1858200,464550,1156,289
67936,4,2020,6,5,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,1651640,412910,1007,251
67937,5,2020,6,6,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,2148500,537125,1351,337
67938,6,2020,6,7,4,W15,부산광역시,기장군,W15057,한신그린코아아파트,1748160,437040,1010,252

In [7]:
csv_test.iloc[8,:]

Unnamed: 0                   0
disYear                   2020
disMonth                     6
disDay                       1
disDayCount                  4
cityCode                   W01
citySidoName             서울특별시
citySggName                종로구
aptCode                 W01002
aptName            인왕산아이파크(BM)
disQuantity            2109450
dayAverQuantity         527362
disCount                  1194
dayAverCount               298
Name: 8, dtype: object

In [ ]:
csv_test.columns

In [14]:
csv_test.groupby('aptName').mean()[csv_test.groupby('aptName').mean().disDay==3.0].count()

Unnamed: 0         6
disYear            6
disMonth           6
disDay             6
disDayCount        6
disQuantity        6
dayAverQuantity    6
disCount           6
dayAverCount       6
dtype: int64

In [13]:
csv_test.groupby('aptName').mean()

,Unnamed: 0,disYear,disMonth,disDay,disDayCount,disQuantity,dayAverQuantity,disCount,dayAverCount
aptName,,,,,,,,,
갈현 미미,3.0,2020.0,6.0,4.0,4.285714,3.074500e+05,71590.285714,181.142857,41.857143
갈현2 e-편한세상 2차,3.0,2020.0,6.0,4.0,4.285714,2.305857e+05,54364.000000,146.571429,34.142857
동익 파크,3.0,2020.0,6.0,4.0,4.285714,1.431000e+05,33647.000000,88.714286,20.428571
백련산힐스테이크 1차,3.0,2020.0,6.0,4.0,4.285714,2.157264e+06,508699.428571,1312.428571,308.285714
북한산 푸르지오,3.0,2020.0,6.0,4.0,4.285714,2.360436e+06,551330.571429,1656.000000,386.285714
...,...,...,...,...,...,...,...,...,...
힐스테이트상도프레스티지(BM),3.0,2020.0,6.0,4.0,4.285714,2.157929e+06,504401.142857,1450.428571,338.714286
힐스테이트서초젠트리스,3.0,2020.0,6.0,4.0,4.285714,5.793071e+05,135486.285714,406.285714,94.571429
힐스테이트암사(BM),3.0,2020.0,6.0,4.0,4.285714,7.525000e+05,175405.142857,483.571429,112.428571
힐스테이트에코마곡역(BM),3.0,2020.0,6.0,4.0,4.285714,1.102929e+05,26033.142857,133.571429,31.142857
힐스테이트위례송파(BM)(초록),3.0,2020.0,6.0,4.0,4.285714,1.338100e+06,312518.428571,770.000000,179.285714

In [8]:
csv_test.disDay.mean()

4.005869200670766

In [ ]:
csv_test[csv_test.aptCode=='W01000']

In [23]:
csv_test00 = csv_test[csv_test['Unnamed: 0']==0].iloc[:,-4:].copy()

In [ ]:
csv_test01.index

In [24]:
csv_test00

       disQuantity  dayAverQuantity  disCount  dayAverCount
0             2500              625        25             6
1            95450            23862        67            16
8          2109450           527362      1194           298
15         1116700           279175       824           206
22          516050           129012       311            77
...            ...              ...       ...           ...
14277        47800            11950        21             5
14284        22150             5537        15             3
14291         7050             1762         5             1
14298        45300            11325        32             8
14305        49200            12300        21             5

[2102 rows x 4 columns]

In [7]:
s = pd.Series(np.arange(2082))

In [8]:
csv_test01 = csv_test01.set_index(keys=[s], inplace=False)

In [9]:
csv_test01

      disQuantity  dayAverQuantity  disCount  dayAverCount
0          114950            22990        88            17
1         2251650           450330      1319           263
2         1059150           211830       875           175
3          520950           104190       360            72
4         1658200           331640       987           197
...           ...              ...       ...           ...
2077        28900             5780        12             2
2078        19450             3890        13             2
2079         8950             1790         6             1
2080        22750             4550        19             3
2081        32450             6490        12             2

[2082 rows x 4 columns]

In [16]:
csv_test_index = csv_test.set_index('aptName', append=True)

In [17]:
csv_test_i01=csv_test_index[csv_test_index['Unnamed: 0']==1].iloc[:,-4:].copy()

In [18]:
csv_test_i01

,,disQuantity,dayAverQuantity,disCount,dayAverCount
,aptName,,,,
2,대아파크빌(BM),114950,22990,88,17
9,인왕산아이파크(BM),2251650,450330,1319,263
16,창신두산(BM),1059150,211830,875,175
23,청계힐스테이트(BM),520950,104190,360,72
30,광화문스페이스본 아파트(BM),1658200,331640,987,197
...,...,...,...,...,...
14278,(일반-CP)방이2동 173(평아),28900,5780,12,2
14285,(일반-CP)방이2동 177(평아),19450,3890,13,2
14292,(일반-CP)가락본동 38-3(미도),8950,1790,6,1
14299,(일반-CP)방이1동 198-13(평아),22750,4550,19,3
14306,(일반-CP)방이1동 134-8(평아),32450,6490,12,2

In [14]:
df=pd.concat([csv_test_index, csv_test_i01], axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [15]:
csv_test_index[csv_test_index['Unnamed: 0']==0].iloc[:,-4:]

                        disQuantity  dayAverQuantity  disCount  dayAverCount
aptName
종로구청                           2500              625        25             6
대아파크빌(BM)                     95450            23862        67            16
인왕산아이파크(BM)                 2109450           527362      1194           298
창신두산(BM)                    1116700           279175       824           206
청계힐스테이트(BM)                  516050           129012       311            77
...                             ...              ...       ...           ...
(일반-CP)방이2동 173(평아)           47800            11950        21             5
(일반-CP)방이2동 177(평아)           22150             5537        15             3
(일반-CP)가락본동 38-3(미도)           7050             1762         5             1
(일반-CP)방이1동 198-13(평아)        45300            11325        32             8
(일반-CP)방이1동 134-8(평아)         49200            12300        21             5

[2102 rows x 4 columns]